
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">USO DE PIPE</h1>
      <hr>
      <br>
      <h5>Llamando al objeto de tipo Date obtenemos:</h5>
      <div class="alert alert-info" role="alert">
        <p>{{fecha}}</p>
      </div> 
      
      <h5>Usando una pipe: </h5>
      <div class="alert alert-info" role="alert">
       <p>{{fecha | date:'medium'}}</p> 
      </div>
      
    </div>
</div>
<hr>
<div class="container">
  <p class="mb-0">
      <small>By Isabel Orozco Puerto </small>
  </p>
</div>
    
    

