<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">INICIO</h1>
      <hr>
      <p class="lead">Lorem fistrum labore benemeritaar la caidita. Nisi papaar papaar caballo 
        blanco caballo negroorl a wan te va a hasé pupitaa ut a wan elit dolor apetecan qui. 
        Ese que llega eiusmod aute enim benemeritaar. Te voy a borrar el cerito ahorarr cillum aliquip 
        sed quietooor ullamco voluptate labore officia exercitation. Velit al ataquerl te voy a borrar 
        el cerito minim diodenoo te voy a borrar el cerito. Apetecan exercitation tempor torpedo. Dolore 
        sexuarl reprehenderit ex. Llevame al sircoo aliquip velit laboris duis commodo no te digo trigo por 
        no llamarte Rodrigor ahorarr por la gloria de mi madre. Diodenoo aliqua exercitation nostrud dolor 
        esse condemor condemor.
        Consequat qui commodo diodenoo elit pecador. Tiene musho peligro irure mamaar está la cosa muy malar 
        cillum. Ese que llega esse jarl adipisicing a gramenawer ad diodeno mamaar. 
        Está la cosa muy malar diodeno nisi dolore eiusmod. Ese pedazo de occaecat enim qui torpedo a wan 
        consectetur condemor ese pedazo de a peich eiusmod. No puedor exercitation ex por la 
        gloria de mi madre voluptate aliqua caballo blanco caballo negroorl aliquip voluptate diodenoo. 
        Adipisicing mamaar condemor minim.
        Enim magna ut ex exercitation hasta luego Lucas commodo ahorarr te voy a borrar el cerito 
        incididunt fistro. 
        </p>
        <p><small>Texto by --> <a href="http://www.chiquitoipsum.com/" class="alert-link">Chiquito ipsum</a></small></p>
        <ul class="list-group">
            <li class="list-group-item">Enlaces al ejercicio: </li>
            <li class="list-group-item list-group-item-info">FORMULARIO --> <a href="/formulario" class="alert-link">Pincha aquí</a></li>
            <li class="list-group-item list-group-item-info">FECHA --> <a href="/fecha" class="alert-link">Pincha aquí</a></li>
        </ul>
    </div>
  </div>
  <hr>
  <div class="container">
    <p class="mb-0">
        <small>By Isabel Orozco Puerto </small>
    </p>
  </div>
